* {
  //border: solid 1px red; /*use this to check border*/
}

body, html {
  height: 100%;
  margin: 0;
  background-image: url("../img/angry-dad-meme.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-logo {
  font-family: 'Cinzel', serif;
  font-weight: bolder;
  font-size: 50px;
  padding: 10px;
  color: white;
}


.main-form {
  padding: 0px 10px;
}

.sign-up-form {
  background-color: #5F726C;
  border-radius: 20px;
  padding: 10px;
}

label {
  font-size: 15px;
  font-weight: bold;
  color: white;
}


input {
  border-radius: 7px;
  background-color: #d0deff;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}


.btn-primary.raised {
	box-shadow: 0 3px 0 0 #007299;
}

.btn-primary.raised:active, .btn-primary.raised.active {
	background: #33a6cc;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}
